:root {
    --default-font: "Quicksand", sans-serif;
    --heading-font: "Russo One", sans-serif;
    --nav-font: "Afacad Flux", sans-serif;

    --background-color: #e6d8c5;
    --heading-color: #7C8598;
    --accent2-color: rgb(130, 152, 145);
    --accent-color: #a3674d;
    --surface-color: #c8bbb3;
    --text-color: #1c0b00;
    --black: #1c0b00;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--default-font);
    color: var(--text-color);
}

a {
    color: var(--accent2-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

span {
    color: var(--accent-color);
    font-family: var(--heading-font);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    text-align: center;
    font-weight: lighter;
}

p {
    padding: 0;
    margin: 0;
}

.logo h1 {
    font-family: var(--default-font);
    color: var(--text-color);
}

select {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid rgb(143, 121, 63, 0.5);
    outline: none;
    background: none;
    font-family: var(--default-font);
    color: var(--surface-color);
}

select:hover {
    cursor: pointer;
}

select:focus {
    border-color: var(--accent-color);
}

option {
    background-color: var(--background-color);
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin-bottom: 70px;
    background-color: rgba(107, 81, 48, 0.4);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(90px);
    z-index: 100;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    margin-left: 10px;
}

.logo img {
    height: 70px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    margin-right: 20px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    font-family: var(--nav-font);
    font-size: 20px;
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
    transition: background-color 0.6s ease
}

.nav:hover {
    text-decoration: none;
    background-color: var(--accent-color);
    color: wheat;
    cursor: pointer;
}

.menu-icon {
    display: none;
}

.space {
    margin-bottom: 70px;
}

.buttons {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

button {
    font-family: var(--default-font);
    font-size: 18px;
    text-decoration: none !important;
    color: var(--text-color);
    padding: 10px;
    width: 160px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, var(--heading-color), var(--accent2-color));
    transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom, var(--heading-color), #97b0a8);
}

button:active {
    transform: scale(0.95);
}

.video-container,
.photo-container {
    width: 100%;
    max-width: 100%;
    background: black;
    position: relative;
    top: 70px;
    margin-bottom: 70px;
}

.video-container::before,
.photo-container::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.05) 10%,
    rgba(0, 0, 0, 0.15) 20%,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.55) 60%,
    rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 1) 100%);
    color: var(--background-color);
}

.poetry {
    margin-left: 5%;
    margin-bottom: 4%;
    font-family: 'Fleur De Leah', cursive;
    font-size: 60px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: auto 20px;
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
}

.info img {
    width: 350px;
    height: 350px;
    max-width: 100%;
    max-height: fit-content;
    border-radius: 15px;
}

.fade {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.6s ease-out, transform 0.5s ease-out;
}

.fade.in-view {
    opacity: 1;
    transform: translateY(0);
}

.fade.in-view:nth-child(even) {
    transition-delay: 0.3s;
}

.fade.in-view:nth-child(odd) {
    transition-delay: 0.15s;
}

.footer {
    background-color: #1a1a1a;
    color: var(--surface-color);
    padding: 30px 15px;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.institution {
    display: flex;
    align-items: center;
    max-width: 400px;
    gap: 15px;
}

.footer-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 10px;
}

.institution-info p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    border-top: 1px solid #333;
    padding-top: 15px;
    color: #ccc;
}

.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: var(--accent-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.container {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
}

.container.left {
    left: 0;
}

.container.right {
    left: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: var(--surface-color);
    border: 2px solid var(--accent-color);
    border-radius: 16px;
    z-index: 1;
}

.container.right::after {
    left: -8px;
}

.container::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: var(--accent-color);
    z-index: 1;
}

.container.right::before {
    left: 8px;
}

.container .date {
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--accent-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}

.container.left .date {
    right: -90px;
}

.container.right .date {
    left: -85px;
}

.container .icon {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 9px 0;
    top: calc(50% - 20px);
    background: var(--accent2-color);
    border: 2px solid var(--accent-color);
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    color: var(--accent-color);
    z-index: 1;
}

.container.left .icon {
    right: 56px;
}

.container.right .icon {
    left: 56px;
}

.container .content {
    padding: 30px 90px 30px 30px;
    background: var(--accent2-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
    position: relative;
    border-radius: 0 500px 500px 0;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
}

.container .content:hover {
    transform: scale(1.04);
}

.container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
}

.container .content h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
    color: var(--accent-color);
}

.container .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
}

.authors-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
}

.author-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
    height: 500px;
    width: 345px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
}

.author-card:hover {
    transform: scale(1.04);
}

.author-card span {
    color: white;
}

.author-card .overlay {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 20px;
}

.author-dates {
    font-size: 0.95rem;
    margin-bottom: 10px;
}

.author-description {
    font-size: 0.9rem;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

ol {
    list-style: none;
}

.diagram {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}

.diagram h3,
.diagram h4,
.diagram a {
    color: var(--accent-color);
}

.rectangle {
    position: relative;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.level-1-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    width: 100%;
    margin: 0 auto;
}

.level-1-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: calc(25% - 5px);
    width: calc(50% + 10px);
    height: 2px;
    background: var(--black);
}

.level-1-wrapper > li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 2px;
    height: 20px;
    background: var(--black);
}

.level-1 {
    margin-bottom: 20px;
    background: var(--accent2-color);
}

.level-2-wrapper {
    position: relative;
    width: 80%;
    margin-left: auto;
}

.level-2-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 2px;
    height: calc(100% + 20px);
    background: var(--black);
}

.level-2-wrapper li + li {
    margin-top: 20px;
}

.level-2 {
    font-weight: normal;
    background: rgba(107, 81, 48, 0.4);
}

.level-2::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: var(--black);
}

.search-container {
    position: relative;
    align-self: flex-start;
    width: 300px;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 13px 15px 12px 40px;
    border: 2px solid rgb(163, 103, 77, 0.5);
    border-radius: 10px;
    background-color: var(--background-color);
    font-family: var(--default-font);
    color: var(--text-color);
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.search-container input[type="text"]:focus {
    outline: none;
    border-color: var(--accent-color);
}

.search-container input[type="text"]::placeholder {
    color: var(--accent2-color);
}

.search-container .fa-search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--accent-color);
    font-size: 18px;
}

.filter-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    width: 300px;
}

.filter-container select {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    border: 2px solid rgb(163, 103, 77, 0.5);
    background-color: var(--background-color);
    color: var(--accent2-color);
}

.filter-container select:focus {
    border-color: var(--accent-color);
}

.photo-container {
    width: 100%;
    max-height: calc(100vh - 160px);
    background: black;
    position: relative;
    margin-bottom: 0;
}

.photo-container > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.photo-container .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 20px;
    z-index: 2;

}

.period-poster {
    width: 30%;
    min-width: 235px;
    position: relative;
    transform: translateY(50%);
    z-index: 10;
}

.period-poster img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 10px 5px 15px rgba(255, 255, 255, 0.2);
}

.period-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 40px 5% 40px 34%;
}

.period-container h1 {
    text-align: start;
}

.period-content i,
.period-content span{
    color: var(--accent2-color);
}

.period-content ol,
.period-content ul {
    all: revert;
}

.period-content li {
    padding-bottom: 5px;
}

@media screen and (max-width: 700px) {
    .rectangle {
        padding: 20px 10px;
    }
}

@media (max-width: 1300px) {
    .author-card {
        width: 31%;
    }
}

@media (max-width: 1030px) {
    .logo h1 {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 70px;
        right: 0;
        width: 100%;
        margin: 0;
        height: auto;
        gap: 10px;
        background-color: var(--background-color);
        box-shadow: 0 5px 20px rgba(200, 187, 179, 0.2);
        backdrop-filter: blur(40px);
        z-index: 10;
    }

    .nav {
        width: 100%;
        padding: 20px 0;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-right: 0;
        margin-bottom: 15px;
        width: 100%;
    }

    .menu.open {
        display: flex;
    }

    .menu-icon {
        display: block;
        font-size: 30px;
        margin-right: 10px;
        cursor: pointer;
        color: var(--accent-color);
    }

    .author-card {
        width: 47%;
    }

    .poetry {
        font-size: 5vw;
    }

    .info {
        flex-direction: column;
    }
}

@media (min-width: 1024px) {
    .video-container {
        height: calc(100vh - 70px);
    }
}

@media (max-width: 945px) {
    .period-poster {
        transform: translateY(70%);
    }

    .period-container {
        margin: 40px 5% 40px 38%;
    }
}

@media (max-width: 768px) {
    .video-container {
        height: auto;
    }

    .timeline::after {
        left: 90px;
    }

    .container {
        width: 100%;
        padding-left: 120px;
        padding-right: 30px;
    }

    .container.right {
        left: 0%;
    }

    .container.left::after,
    .container.right::after {
        left: 82px;
    }

    .container.left::before,
    .container.right::before {
        left: 100px;
        border-color: transparent #006E51 transparent transparent;
    }

    .container.left .date,
    .container.right .date {
        right: auto;
        left: 12px;
    }

    .container.left .icon,
    .container.right .icon {
        right: auto;
        left: 146px;
    }

    .container.left .content,
    .container.right .content {
        padding: 30px 30px 30px 90px;
        border-radius: 500px 0 0 500px;
    }
}

@media (max-width: 700px) {
    .author-card {
        width: 352px;
    }

    .period-container {
        margin: 40px 5% 40px 5%;
    }

    .period-info {
        margin-left: 55%;
        margin-bottom: 70px;
    }

    .author-card:last-child {
        height: 40px;
    }
}

@media (max-width: 900px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .institution {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 560px) {
    .info-container {
        width: 300px;
    }

    .search-container {
        width: 100%;
    }

    .filter-container {
        width: 100%;
    }

    .author-card {
        width: calc(80% + 58px);
    }

    .btn-group button {
        width: 50%;
    }

    .period-poster {
        min-width: 180px;
    }

    .period-poster {
        transform: translateY(80%);
    }

    .period-info {
        margin: -20px 5% 0 55%;
    }
}

@media (max-width: 450px) {
    .period-poster {
        min-width: 150px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}